* {
  margin: 1px;
  padding: 0;
}

.field_with_errors {
  display: block;
  max-width: 150px;
}

.field_with_errors > * {
  color: red;
  padding: 0;
  margin-bottom: -20px;
}

.alert {
  width: 400px;
}